<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<link rel="stylesheet" href="style.css" />
		<title>{% block title %}Online Programming Contest{% endblock %}</title>
	</head>

	<body>

		<table border="1" width="100%" align="left" cellspacing="1" cellpadding="1">
			<tr>
				<td align="left" colspan="2" bgcolor="White" > 
					<div id="topbar">
						{% block sidebar %}
						<font color="#0000ff">
							<h1> Online Programming Contest</h1>
						</font>
						{% endblock %}
					</div>
				</td>	
			</tr>

			<tr>
				<td width="15%"> 
					<div  id="sidebar">
						{% block topbar%}	
							<ul>
								<li><a href='/opc'>Home</a><br>
								<li><a href='/opc/problems/'>Problem set</a>
                                {% if object.id %}
                                    <li> <a href='/opc/problems/{{ object.id }}/submit/'>Submit</a>
                                {% else %}
                                    <li> <a href='/opc/problems/submit/'>Submit</a>
                                {% endif %}

                                {% if user.is_authenticated  %}
                                    <li><a href='/accounts/logout'>Logout</a>
                                {% else %}
                                    <li><a href='/accounts/login/'>User Login</a>
                                {% endif %}
                                <li><a href='/admin/'>Admin Login</a>

							</ul>
						{% endblock %}
					</div>
				</td>
				<td> 
					<div id="content">
						{% block content %}{% endblock %}
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
