{% extends "base.html" %}

{% block content %}

<table> <form enctype="multipart/form-data" name="Submit" method="POST">

    {% if form.file_path.errors %}
    <tr>
        <td>
            *** {{ form.file_path.errors|join:", " }}
        </td>
    </tr>
    {% endif %}
    <tr>
        <td align="right"><label for="id_file_path">File Upload: </label></td>
        <td>{{ form.file_path }} {{ form.file_path_file}} <p></td>
    </tr>

    {% if form.question_id.errors %}
    <tr>
        <td>
            *** {{ form.question_id.errors|join:", " }}
        </td>
    </tr>
    {% endif %}
    <tr>
            <td align="right"><label for="id_question_id">Question: </label></td>
            <td>{{ form.question_id }}</td><p></td>
    </tr>

    {% if form.language_id.errors %}
    <tr>
        <td>
            *** {{ form.language_id.errors|join:", " }}
        </td>
    </tr>
    {% endif %}
    <tr>
            <td align="right"><label for="id_language_id">Language: </label></td>
            <td>{{ form.language_id }}</td><p></td>
    </tr>

    <tr>
            <td></td>
            <td ><input type="submit" value="Submit"><p></td>
    </tr>
</form></table>
<br><b>NOTE :</b>Submits in Python, Perl , PHP and Ruby should have their appropriate Shebangs in the first Line. <br>
<ul>
	<li>python = /usr/bin/env python</li>
	<li>ruby = /usr/bin/ruby</li>
	<li>perl = /usr/bin/perl</li>
	<li> PHP = /usr/bin/php</li>
</ul>

{% endblock %}
