{% extends "base.html" %}

{% block title %} {{ block.super }} - User Stats {% endblock %}

{% block content %} 
	<h1> {{object.username }}</h1><p>
	Full Name : {{ object.first_name }}, {{ object.last_name }}
	Score : {{ object.userprofile.score }}

	<table border='1'>
			<tr>
				<th> Problem </th>
				<th> Score </th>
			</tr>
		{% for prob in object.userprofile.solved.all %}
			<tr>
				<td> <a href="/opc/problems/{{ prob.id }}"> {{ prob.name }}	</a></td>
				<td> {{ prob.score }} </td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
