{% extends "base.html" %}
{% block content %}
<form name="RegistrationForm" method="POST">
    <table>

        {% if form.old_password.errors %}
        <tr>
            <td>
                *** {{ form.old_password.errors|join:", " }}
            </td>
        </tr>
        {% endif %}

       <tr>
          <td><label for="id_old_password">Enter Old Password: </label></td>
          <td>{{ form.old_password }}</td>
          <script type='text/javascript'> document.getElementById('id_old_password').focus() </script>
       </tr>


        {% if form.password1.errors %}
        <tr>
            <td>
                *** {{ form.password1.errors|join:", " }}
            </td>
        </tr>
        {% endif %}

       <tr>
          <td><label for="id_password1">Enter New Password: </label></td>
          <td>{{ form.password1 }}</td>
       </tr>


        {% if form.password2.errors %}
        <tr>
            <td>
                *** {{ form.password2.errors|join:", " }}
            </td>
        </tr>
        {% endif %}

       <tr>
          <td><label for="id_password2">Re-Enter New Password: </label></td>
          <td>{{ form.password2 }}</td>
       </tr>


       <tr>
         <td colspan=2><input type="submit" value="Change"></td>
       </tr>
    </table>
</form>
{% endblock %}
